<div class="container">
    <div class="select-country">
      <h6>Country </h6>
      <select class="select2" name="country" id="select">
        <option <%= "selected='selected'" if @selected_country == 'all' %>value="all">All</option>
        <% @countries.each do |country| %>
          <option <%= "selected='selected'" if @selected_country == country.downcase %>value="<%= URI::encode(country.downcase) %>"><%= country %></option>
        <% end %>
      </select>
    </div>
    <div class="summary">
      <h3>Summary</h3>
      <div class="grid">
        <div class="card-info">
          <h4>Revenue</h4>
          <h4><%= number_to_human(@total_revenue) %>€</h4>
        </div>
        <div class="card-info">
          <h4>Avg revenue / order</h4>
          <h4><%= number_to_human(@avg_revenue_per_order) %>€</h4>
        </div>
        <div class="card-info">
          <h4>Customers</h4>
          <h4><%= number_to_human(@nb_customers) %></h4>
        </div>
      </div>
    </div>
    <div class="chart">
      <h3>Revenue per month</h3>
      <%= column_chart @revenue_per_month %>
    </div>
</div>
